<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <include file="wap/Public/header"/>

</head>
<body>
<section class="layout pt88">

    <header class="header header-block header-fixed">
        <div id="top" class="left">


            <a href="#" onclick="javascript: window.history.go(-1); return false;"><span class="arrow"></span>返回</a>
        </div>
        <h2>尚学教育</h2>
        <div class="right">
            <a href="/weixin.html">
                <span class="wx-icon"></span>
                官方微信
            </a>
        </div>
    </header>
    <!--查询-->
    <section class="top-nav top-nav-col3 js-nav">
        <ul>
            <li>
                <h3>级别 <i class="arrow"></i></h3>
                <dl>
                    <dd class="on"><a class="search_link" href="{:U('School/index',array('level'=>-1,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">不限</a></dd>
                    <dd><a class="search_link" href="{:U('School/index',array('level'=>0,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">省一级</a></dd>
                    <dd><a class="search_link" href="{:U('School/index',array('level'=>1,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">市一级</a></dd>
                    <dd><a class="search_link" href="{:U('School/index',array('level'=>3,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">普通级别</a></dd>

                </dl>
            </li>
            <li>
                <h3>性质 <i class="arrow"></i></h3>
                <dl>
                    <dd class="on"><a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>-1,'SchoolType'=>$SchoolType))}">不限</a></dd>
                    <dd><a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>0,'SchoolType'=>$SchoolType))}">民办</a></dd>
                    <dd><a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>1,'SchoolType'=>$SchoolType))}">公办</a></dd>

                </dl>
            </li>
            <li>
                <h3>类型 <i class="arrow"></i></h3>
                <dl>
                    <dd class="on"><a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>-1))}">不限</a></dd>
                    <dd><a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>0))}">仅初中</a></dd>
                    <dd><a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>1))}">仅高中</a></dd>
                    <dd><a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>2))}">初中+高中</a></dd>

                </dl>
            </li>
        </ul>
    </section>
    <hr class="line">
    <!--列表-->
    <article class="tech-list good-sh-list">
        <ul>
            <volist name="school" id="vo">
            <li>
                <div class="img">
                    <a href="{:U('info',array('id'=>$vo['id']))}">
                    </a><a href="{:U('info',array('id'=>$vo['id']))}"><img src="{$vo['headUrl']}"></a>

                </div>
                <div class="text">
                    <a href="{:U('info',array('id'=>$vo['id']))}">
                        <dl>
                            <dt>{$vo.SchoolName}</dt>
                            <dd><span>区域：</span>{$levelMap[$vo['level']]}</dd>
                            <dd><span>级别：</span>{$vo['UrbanDistrict']}</dd>
                            <dd><span>性质：</span>{$SchoolNatureMap[$vo['SchoolNature']]}</dd>
                            <dd><span>类型：</span>{$SchoolTypeMap[$vo['SchoolType']]}</dd>
                        </dl>
                    </a>
                </div>
            </li>
            </volist>
        </ul>
    </article>


    <include file="wap/Public/copyright"/>
    <include file="wap/Public/footer"/>

</section>


</body>
</html>