<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>尚学教育</title>
    <include file="wap/Public/header"/>

</head>
<body>
<section class="layout pt88 " style="padding-bottom: 1rem;">

    <header class="header header-block header-fixed">
        <div id="top" class="left">


            <a href="#" onclick="javascript: window.history.go(-1); return false;"><span class="arrow"></span>返回</a>
        </div>
        <h2>尚学教育</h2>
        <div class="right">
            <a href="/weixin.html">
                <span class="wx-icon"></span>
                官方微信
            </a>
        </div>
    </header>
    <section class="banner-img">
        <img src="{$school['headPic']}" alt="">
    </section>
    <section class="shcoll-intor">
        <dt>{$school.SchoolName}</dt>
        <dd><span>城市区域：</span>{$school.UrbanDistrict}</dd>
        <dd><span>学校类别：</span>{$SchoolTypeMap[$school['SchoolType']]}</dd>
        <dd><span>学校性质：</span>{$SchoolNatureMap[$school['SchoolNature']]}</dd>
        <dd><span>创办时间：</span>{$school.time}</dd>
        <dd><span>学校网址：</span><a href="{$school.website}" target="_blank">{$school.website}</a></dd>
        <dd><span>联系方式：</span>{$school.phone}</dd>
        <dd><span>校区地址：</span>{$school.address}</dd>
    </section>
    <hr class="line">
    <section class="shcoll-text">
        <h3>学校介绍</h3>
        <div id="jianjie" style="display: inline-block;height: 2.85rem;overflow: hidden">
        {$school.introduce}
        </div>
        <span id="btn" style="display:inline-block;margin-top:10px;color: yellow;margin-bottom: 10px">详情</span>
    </section>

    <include file="wap/Public/copyright"/>
    <include file="wap/Public/footer"/>


</section>

    <script>
        var h=1
        $('#btn').click(function () {
            if (h==1){
            $('#jianjie').css({'height':''})
            $(this).text('收起')
                h=0
            }else{
                $('#jianjie').css({'height':'2.88rem'})
                $(this).text('详情')
                h=1
            }
        })

    </script>

</body>
</html>
