<!--友情链接-->
<div class="main">
    <div class="wap_link">
        <strong class="title">友情链接: </strong>
        <a href="{$friendship[0]['link']}" target="_blank">{$friendship[0]['name']}</a>
        <a href="{$friendship[1]['link']}" target="_blank">{$friendship[1]['name']}</a>
        <a href="{$friendship[2]['link']}" target="_blank">{$friendship[2]['name']}</a>
        <a href="{$friendship[3]['link']}" target="_blank">{$friendship[3]['name']}</a>
        <a href="{$friendship[4]['link']}" target="_blank">{$friendship[4]['name']}</a>
        <a href="{$friendship[5]['link']}" target="_blank">{$friendship[5]['name']}</a>
        <a href="{$friendship[6]['link']}" target="_blank">{$friendship[6]['name']}</a>
        <a href="{$friendship[7]['link']}" target="_blank">{$friendship[7]['name']}</a>
        <a href="{$friendship[8]['link']}" target="_blank">{$friendship[8]['name']}</a>
        <a href="{$friendship[9]['link']}" target="_blank">{$friendship[9]['name']}</a>
        <a href="{$friendship[10]['link']}" target="_blank">{$friendship[10]['name']}</a>
        <a href="{$friendship[11]['link']}" target="_blank">{$friendship[11]['name']}</a>
    </div>
</div>