<div class="page_top">
    <div class="main">
        <div class="m-logo"><a href="#"></a></div>
        <div class="m-name"></div>

        <div class="top_right">
            <div class="hotline">全国统一提分热线： <strong>400-877-0068</strong></div>
            <div id="moquu_wxin" class="moquu_wxin"><a href="javascript:void(0)"><img src="__PUBLIC__/Home/pc/icon_wechat.png"><span class="wechat">尚学教育官微</span><div class="moquu_wxinh"><img src="http://file.xinghuo100.com/upload/25/74/103/image/20160311/20160311104058_3312.jpg"></div></a></div>

        </div>
    </div>
    <div class="clear"></div>
</div>