<!--底部导航-->
<div class="main">
    <div class="wap_bmenu">
        <div class="list">
            <h3><a href="{:U('Curr/index',array('grade'=>0))}" style="color:#666666;" target="_blank">小学辅导</a></h3>
            <ul>
                <li><a href="/xiaoxue/xxdt/0-1.html" target="_blank">小学动态</a></li>
                <li><a href="/xiaoxue/xsc/0-1.html" target="_blank">小升初资讯</a></li>
            </ul>
        </div>
        <div class="list">
            <h3><a href="{:U('Curr/index',array('grade'=>1))}" style="color:#666666;" target="_blank">初中辅导</a></h3>
            <ul>
                <li><a href="/chuzhong/czdt/0-1.html" target="_blank">初中动态</a></li>
                <li><a href="/chuzhong/zk/0-1.html" target="_blank">中考资讯</a></li>
            </ul>
        </div>
        <div class="list">
            <h3><a href="{:U('Curr/index',array('grade'=>2))}" style="color:#666666;" target="_blank">高中辅导</a></h3>
            <ul>
                <li><a href="/gaozhong/gzdt/0-1.html" target="_blank">高中动态</a></li>
                <li><a href="/gaozhong/gk/0-1.html" target="_blank">高考资讯</a></li>
            </ul>
        </div>
        <div class="list">
            <h3><a href="/campus/0-1.html" style="color:#666666;" target="_blank">校区查询</a></h3>
        </div>
        <div class="list">
            <h3><a href="/teacher/0-0-1.html" style="color:#666666;" target="_blank">老师查询</a></h3>
            <ul>
                <li><a href="/teacher/10-0-1.html" target="_blank">小学</a></li>
                <li><a href="/teacher/20-0-1.html" target="_blank">初中</a></li>
                <li><a href="/teacher/30-0-1.html" target="_blank">高中</a></li>
            </ul>
        </div>
        <div class="list">
            <h3><a href="/school/0-0-0-1.html" style="color:#666666;" target="_blank">名校库</a></h3>
        </div>
        <div class="clear"></div>
    </div>
</div>