<!--底部导航-->
<div class="main">
    <div class="wap_bmenu">
        <div class="list">
            <h3><a href="{:U('Curr/index',array('grade'=>0))}" style="color:#666666;" target="_blank">小学辅导</a></h3>

        </div>
        <div class="list">
            <h3><a href="{:U('Curr/index',array('grade'=>1))}" style="color:#666666;" target="_blank">初中辅导</a></h3>

        </div>
        <div class="list">
            <h3><a href="{:U('Curr/index',array('grade'=>2))}" style="color:#666666;" target="_blank">高中辅导</a></h3>
        </div>
        <div class="list">
            <h3><a href="{:U('Teacher/index',array('id'=>0))}" style="color:#666666;" target="_blank">老师查询</a></h3>
            <ul>
                <li><a href="{:U('Teacher/index',array('grade'=>0,'subject'=>-1))}" target="_blank">小学</a></li>
                <li><a href="{:U('Teacher/index',array('grade'=>1,'subject'=>-1))}" target="_blank">初中</a></li>
                <li><a href="{:U('Teacher/index',array('grade'=>2,'subject'=>-1))}" target="_blank">高中</a></li>
            </ul>
        </div>
        <div class="list">
            <h3><a href="{:U('School/index',array('id'=>0))}" style="color:#666666;" target="_blank">名校库</a></h3>
        </div>
        <div class="clear"></div>
    </div>

    <div style="text-align: center">
        © 2004 - 2016  All Rights Reserved. 尚学教育.
        <a style="color:#cccccc" href="http://www.miitbeian.gov.cn" target="_blank">
            粤ICP备14061390号-2. </a>技术支持：QQ:120267583</div>
</div>