<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->



<div class="page">
    <div class="main">


        <!--菜单-->
        <include file="Public/menu"/>
        <!--菜单-->


        <!--左侧模块-->
        <div class="col-left">
            <div class="search_list">
                <dt>级别：</dt>
                <dd>


                    <if condition="$level eq -1">
                             <span class="search_current">
                                <a class="search_link" href="{:U('School/index',array('level'=>-1,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">不限</a>
                            </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>-1,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">不限</a>
                    </if>


                    <if condition="$level eq 0">
                             <span class="search_current">
                                 <a class="search_link" href="{:U('School/index',array('level'=>0,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">省一级</a>
                            </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>0,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">省一级</a>
                    </if>


                    <if condition="$level eq 1">
                             <span class="search_current">
                            <a class="search_link" href="{:U('School/index',array('level'=>1,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">市一级</a>

                            </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>1,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">市一级</a>

                    </if>


                    <if condition="$level eq 2">
                             <span class="search_current">
                                <a class="search_link" href="{:U('School/index',array('level'=>2,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">普通级别</a>


                            </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>2,'SchoolNature'=>$SchoolNature,'SchoolType'=>$SchoolType))}">普通级别</a>


                    </if>


                </dd>
            </div>
            <div class="search_list">
                <dt>性质：</dt>
                <dd>





                    <if condition="$SchoolNature eq -1">
                             <span class="search_current">
                                <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>-1,'SchoolType'=>$SchoolType))}">不限</a>
                            </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>-1,'SchoolType'=>$SchoolType))}">不限</a>

                    </if>




                    <if condition="$SchoolNature eq 0">
                             <span class="search_current">
                                 <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>0,'SchoolType'=>$SchoolType))}">民办</a>
                            </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>0,'SchoolType'=>$SchoolType))}">民办</a>
                    </if>


                    <if condition="$SchoolNature eq 1">
                             <span class="search_current">
                                 <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>1,'SchoolType'=>$SchoolType))}">公办</a>
                            </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>1,'SchoolType'=>$SchoolType))}">公办</a>
                    </if>





                </dd>
            </div>
            <div class="search_list">
                <dt>类型：</dt>
                <dd>





                    <if condition="$SchoolType eq -1">
                        <span class="search_current">
                                <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>-1))}">不限</a>
                        </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>-1))}">不限</a>
                    </if>


                    <if condition="$SchoolType eq 0">
                        <span class="search_current">
                            <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>0))}">仅初中</a>
                        </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>0))}">仅初中</a>

                    </if>

                    <if condition="$SchoolType eq 1">
                        <span class="search_current">
                            <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>1))}">仅高中</a>

                        </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>1))}">仅高中</a>


                    </if>

                    <if condition="$SchoolType eq 2">
                        <span class="search_current">
                             <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>2))}">初中+高中</a>
                        </span>
                        <else/>
                        <a class="search_link" href="{:U('School/index',array('level'=>$level,'SchoolNature'=>$SchoolNature,'SchoolType'=>2))}">初中+高中</a>
                    </if>





                </dd>
            </div>

            <div class="contents">
                <ul>

                    <volist name="school" id="vo">
                        <li class="library-link">
                            <a href="{:U('info',array('id'=>$id))}" target="_blank"><img src="{$vo.headUrl}"></a>
                            <div class="left-library-detail">
                                <p class="title"><a href="{:U('info',array('id'=>1))}" target="_blank">{$vo.SchoolName}</a></p>
                                <p><em>区域：</em>福州市</p>
                                <p><em>级别：</em>{$levelMap[$vo['level']]}</p>
                                <p><em>性质：</em>{$SchoolNatureMap[$vo['SchoolNature']]}</p>
                                <p><em>类型：</em>{$SchoolTypeMap[$vo['SchoolType']]}</p>
                            </div>
                        </li>
                    </volist>



                    <div class="clear"></div>
                </ul>

            </div>



<!--            <div class="coli_page">
                &lt;!&ndash;上一页&ndash;&gt;
                <a class="on" style="cursor:default">1</a>

                &lt;!&ndash;中间部分&ndash;&gt;
                <a href="/school/0-0-0-2.html">2</a>

                <a href="/school/0-0-0-3.html">3</a><a class="prelinkno" href="/school/0-0-0-2.html">下一页</a>
            </div>-->

        </div>
        <!--右侧模块-->
        <div class="col-right">

            <div class="nav_bulletin">
                <h3>在线留言</h3>
                <a href="{:U('Message/index')}">
                    <img src="__PUBLIC__/Home/pc/Content/Images/20131227123536_68660.jpg" style=" width: 100%; height: auto;" alt=""/>
                </a>
            </div>

            <div class="nav_bulletin" style="height: 300px; margin-top: 15px;   border: 1px #EDEDED solid;" >
                <h3>公司资讯</h3>
                <ul class="inforR_text" >
                    <volist name="information" id="vo">
                        <li><a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                            {$vo['title']}</a></li>
                    </volist>

                </ul>
            </div>



        </div>
        <div class="clear"></div>



    </div>
</div>


<include file="Public/friendship"/>
<include file="Public/navigation"/>
<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>


