<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->



<div class="page">
    <div class="main">


        <include file="Public/menu"/>

        <div class="col-layleft">
            <div class="library_detail">
                <dt>
                    <img src="{$school['headPic']}">
                </dt>
                <dd>
                    <h5>{$school['SchoolName']}</h5>
                    <p><em>城市区域：</em>{$school['UrbanDistrict']}</p>
                    <p><em>学校类别：</em>{$SchoolNatureMap[$school['SchoolType']]}</p>
                    <p><em>学校性质：</em>{$SchoolTypeMap[$school['SchoolNature']]}</p>
                    <p><em>创办时间：</em>{$school['time']}</p>
                    <p><em>学校网址：</em><a href="{$school['website']}" target="_blank">{$school['website']}</a></p>
                    <p><em>联系方式：</em>　</p>
                    <p><em>校区地址：</em>{$school['address']}</p>
 <!--                   <p>
                        <em>分享到：</em>
                            <span>
                                    </span></p><div id="bdshare" class="bdshare_b" style="line-height: 12px;">
                    <img src="http://bdimg.share.baidu.com/static/images/type-button-5.jpg?cdnversion=20120831">
                </div>


                    <p></p>-->
                </dd>
            </div>
            <div class="library_main">
                <h3>学校介绍</h3>
                <div id="hutia"><span>
                        <p>{$school['introduce']}</p></span><!--<a href="###">展开全部</a>--></div>
            </div>

            <!--录取分数线-->

            <!--键值集合-->
        </div>
        <!--右侧模块-->
        <div class="col-right">
            <!--广告-->
            <div class="right_ad"><a href="http://ikx.xinghuojiaoyu.net/" target="_blank"><img src="http://file.xinghuo100.com/upload/25/75/76/101/image/20160112/20160112173034_2305.jpg" alt=""></a></div>
            <!--热门资讯-->
            <div class="nav_library">
                <h3>热门资讯</h3>
                <ul class="inforR_text">
                    <li><a href="/201601/1484.html">初中成绩差没关系，用这些方法逆袭</a></li>
                    <li><a href="/201601/1491.html">中考志愿填报误区，家长需谨慎！</a></li>
                    <li><a href="/201603/1490.html">初中期中考试复习计划</a></li>
                    <li><a href="/201601/1492.html">初三生寒假规划：最佳备考策略三步走</a></li>
                    <li><a href="/201601/1526.html">全新星火教育网试运营，带给你不一样的体验</a></li>
                    <li><a href="/201601/1483.html">导致初中三年后天壤之别的差异三个小贴士</a></li>
                    <li><a href="/201601/1482.html">假期将至，初三生如何度过一个充实的寒假？</a></li>
                    <li><a href="/201604/2317.html">4月30日，福州星火教育仓山校区开业啦！</a></li>
                </ul>
            </div>
            <!--广告-->
            <div class="right_ad"><a href="http://www.xinghuo100.com/zhuanti/qiuji2016/fuzhou/qiuji2016.html#" target="_blank"><img src="http://file.xinghuo100.com/upload/25/924/936/951/image/20160913/20160913095405_0753.jpg" alt=""></a></div>
            <!--名校推荐-->

            <div class="nav_library">
                <h3>名校推荐</h3>
                <div class="bellows single">
                    <div class="bellows__item">
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <img src="{$recommend[0]['headPic']}">
                                <p>
                                    <span>{$recommend[0]['SchoolName']}</span>
                                    类型：{$SchoolTypeMap[$recommend[0]['SchoolType']]}<br>
                                    区域：{$recommend[0]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[0]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <img src="{$recommend[1]['headPic']}">
                                <p>
                                    <span>{$recommend[1]['SchoolName']}</span>
                                    类型：{$SchoolTypeMap[$recommend[1]['SchoolType']]}<br>
                                    区域：{$recommend[1]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[1]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <img src="{$recommend[2]['headPic']}">
                                <p>
                                    <span>{$recommend[2]['SchoolName']}</span>
                                    类型：{$SchoolTypeMap[$recommend[2]['SchoolType']]}<br>
                                    区域：{$recommend[2]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[2]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <img src="{$recommend[3]['headPic']}">
                                <p>
                                    <span>{$recommend[3]['SchoolName']}</span>
                                    类型：{$SchoolTypeMap[$recommend[3]['SchoolType']]}<br>
                                    区域：{$recommend[3]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[3]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <img src="{$recommend[4]['headPic']}">
                                <p>
                                    <span>{$recommend[4]['SchoolName']}</span>
                                    类型：{$SchoolTypeMap[$recommend[4]['SchoolType']]}<br>
                                    区域：{$recommend[4]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[4]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <img src="{$recommend[5]['headPic']}">
                                <p>
                                    <span>{$recommend[5]['SchoolName']}</span>
                                    类型：{$SchoolTypeMap[$recommend[5]['SchoolType']]}<br>
                                    区域：{$recommend[5]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[5]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <img src="{$recommend[6]['headPic']}">
                                <p>
                                    <span>{$recommend[6]['SchoolName']}</span>
                                    类型：{$SchoolTypeMap[$recommend[6]['SchoolType']]}<br>
                                    区域：{$recommend[6]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[6]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <img src="{$recommend[7]['headPic']}">
                                <p>
                                    <span>{$recommend[7]['SchoolName']}</span>
                                    类型：{$SchoolTypeMap[$recommend[7]['SchoolType']]}<br>
                                    区域：{$recommend[7]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[7]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>




        <div class="clear"></div>

    </div>
</div>




<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>











