<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->


<div class="page">
    <div class="main">


        <include file="Public/menu"/>

        <div class="col-layleft">
            <div class="library_detail">
                <dt>
                    <img src="{$school['headPic']}">
                </dt>
                <dd>
                    <h5>{$school['SchoolName']}</h5>
                    <p><em>城市区域：</em>{$school['UrbanDistrict']}</p>
                    <p><em>学校类别：</em>{$SchoolNatureMap[$school['SchoolType']]}</p>
                    <p><em>学校性质：</em>{$SchoolTypeMap[$school['SchoolNature']]}</p>
                    <p><em>创办时间：</em>{$school['time']}</p>
                    <p><em>学校网址：</em><a href="{$school['website']}" target="_blank">{$school['website']}</a></p>
                    <p><em>联系方式：</em>　</p>
                    <p><em>校区地址：</em>{$school['address']}</p>
                    <!--                   <p>
                                           <em>分享到：</em>
                                               <span>
                                                       </span></p><div id="bdshare" class="bdshare_b" style="line-height: 12px;">
                                       <img src="http://bdimg.share.baidu.com/static/images/type-button-5.jpg?cdnversion=20120831">
                                   </div>


                                       <p></p>-->
                </dd>
            </div>
            <div class="library_main">
                <h3>学校介绍</h3>
                <div id="hutia"><span>
                        <p>{$school['introduce']}</p></span><!--<a href="###">展开全部</a>--></div>
            </div>

            <!--录取分数线-->

            <!--键值集合-->
        </div>
        <!--右侧模块-->
        <div class="col-right">


            <div class="nav_bulletin">
                <h3>在线留言</h3>
                <a href="{:U('Message/index')}">
                    <img src="__PUBLIC__/Home/pc/Content/Images/20131227123536_68660.jpg" style=" width: 100%; height: auto;" alt=""/>
                </a>
            </div>

            <div class="nav_bulletin" style="height: 300px; margin-top: 15px;   border: 1px #EDEDED solid;" >
                <h3>公司资讯</h3>
                <ul class="inforR_text" >
                    <volist name="information" id="vo">
                        <li><a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                            {$vo['title']}</a></li>
                    </volist>

                </ul>
            </div>


            <!--名校推荐-->

            <div class="nav_library">
                <h3>名校推荐</h3>
                <div class="bellows single">
                    <div class="bellows__item">
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <a href="{:U('info',array('id'=>$recommend[0]['id']))}"><img
                                        src="{$recommend[0]['headPic']}"></a>
                                <p>
                                    <a href="{:U('info',array('id'=>$recommend[0]['id']))}">
                                        <span>{$recommend[0]['SchoolName']}</span>
                                    </a>
                                    类型：{$SchoolTypeMap[$recommend[0]['SchoolType']]}<br>
                                    区域：{$recommend[0]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[0]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <a href="{:U('info',array('id'=>$recommend[1]['id']))}">
                                    <img src="{$recommend[1]['headPic']}">
                                </a>
                                <p>
                                    <a href="{:U('info',array('id'=>$recommend[1]['id']))}">
                                        <span>{$recommend[1]['SchoolName']}</span>
                                    </a>
                                    类型：{$SchoolTypeMap[$recommend[1]['SchoolType']]}<br>
                                    区域：{$recommend[1]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[1]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <a href="{:U('info',array('id'=>$recommend[2]['id']))}">
                                    <img src="{$recommend[2]['headPic']}">
                                </a>
                                <p>
                                    <a href="{:U('info',array('id'=>$recommend[2]['id']))}">
                                        <span>{$recommend[2]['SchoolName']}</span>
                                    </a>
                                    类型：{$SchoolTypeMap[$recommend[2]['SchoolType']]}<br>
                                    区域：{$recommend[2]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[2]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <a href="{:U('info',array('id'=>$recommend[3]['id']))}">
                                    <img src="{$recommend[3]['headPic']}">
                                </a>
                                <p>
                                    <a href="{:U('info',array('id'=>$recommend[3]['id']))}">
                                        <span>{$recommend[3]['SchoolName']}</span>
                                    </a>
                                    类型：{$SchoolTypeMap[$recommend[3]['SchoolType']]}<br>
                                    区域：{$recommend[3]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[3]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <a href="{:U('info',array('id'=>$recommend[4]['id']))}">
                                    <img src="{$recommend[4]['headPic']}">
                                </a>
                                <p>
                                    <a href="{:U('info',array('id'=>$recommend[4]['id']))}">
                                        <span>{$recommend[4]['SchoolName']}</span>
                                    </a>
                                    类型：{$SchoolTypeMap[$recommend[4]['SchoolType']]}<br>
                                    区域：{$recommend[4]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[4]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <a href="{:U('info',array('id'=>$recommend[5]['id']))}">
                                    <img src="{$recommend[5]['headPic']}">
                                </a>
                                <p>
                                    <a href="{:U('info',array('id'=>$recommend[5]['id']))}">
                                        <span>{$recommend[5]['SchoolName']}</span>
                                    </a>
                                    类型：{$SchoolTypeMap[$recommend[5]['SchoolType']]}<br>
                                    区域：{$recommend[5]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[5]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <a href="{:U('info',array('id'=>$recommend[6]['id']))}">
                                    <img src="{$recommend[6]['headPic']}">
                                </a>
                                <p>
                                    <a href="{:U('info',array('id'=>$recommend[6]['id']))}">
                                        <span>{$recommend[6]['SchoolName']}</span>
                                    </a>
                                    类型：{$SchoolTypeMap[$recommend[6]['SchoolType']]}<br>
                                    区域：{$recommend[6]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[6]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                        <div class="bellows__header">

                            <div class="bellows__content">
                                <a href="{:U('info',array('id'=>$recommend[7]['id']))}">
                                    <img src="{$recommend[7]['headPic']}">
                                </a>
                                <p>
                                    <a href="{:U('info',array('id'=>$recommend[7]['id']))}">
                                        <span>{$recommend[7]['SchoolName']}</span>
                                    </a>
                                    类型：{$SchoolTypeMap[$recommend[7]['SchoolType']]}<br>
                                    区域：{$recommend[7]['UrbanDistrict']}<br>
                                    级别：{$levelMap[$recommend[7]['SchoolNature']]}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>


        <div class="clear"></div>

    </div>
</div>

<include file="Public/friendship"/>
<include file="Public/navigation"/>

<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>











