<section class="layout pt88">

    <header class="header header-block header-fixed">
        <div id="top" class="left">


            <a href="#" onclick="javascript: window.history.go(-1); return false;"><span class="arrow"></span>返回</a>
        </div>
        <h2>星火教育（东莞市）</h2>
        <div class="right">
            <a href="/weixin.html">
                <span class="wx-icon"></span>
                官方微信
            </a>
        </div>
    </header>
    <section class="top-nav top-nav-col2 js-nav">
        <ul>
            <li class="">
                <h3>年级 <i class="arrow"></i></h3>
                <dl style="overflow: hidden; display: none;">
                    <dd><a href="/teacher/0-0-1.html">不限</a></dd>
                    <dd><a href="/teacher/10-0-1.html">小学</a></dd>
                    <dd><a href="/teacher/20-0-1.html">中学</a></dd>
                    <dd><a href="/teacher/30-0-1.html">高中</a></dd>



                </dl>
            </li>
            <li>
                <h3>科目 <i class="arrow"></i></h3>
                <dl style="display: none;">
                    <dd><a href="/teacher/0-0-1.html">不限</a></dd>
                    <dd><a href="/teacher/0-1-1.html">物理</a></dd>
                    <dd><a href="/teacher/0-7-1.html">地理</a></dd>
                    <dd><a href="/teacher/0-2-1.html">语文</a></dd>
                    <dd><a href="/teacher/0-3-1.html">英语</a></dd>
                    <dd><a href="/teacher/0-4-1.html">数学</a></dd>
                    <dd><a href="/teacher/0-5-1.html">化学</a></dd>
                    <dd><a href="/teacher/0-6-1.html">生物</a></dd>


                </dl>
            </li>
        </ul>
    </section>
    <hr class="line">
    <article class="tech-list">
        <ul>
            <li>
                <div class="img">
                    <a href="/teacher/56.html">
                    </a><a href="/teacher/56.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121153644_8797.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/56.html">
                        <dl>
                            <dt>
                            <h3>李佼</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>化学</dd>
                            <dd><span>教学风格：</span>讲课生动有趣，善于激发学生兴趣，引导学生思考</dd>
                            <dd><span>教学成果：</span>化学学科带头人，所带学生进步率高达90%以上，家长指定补习老师。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/37.html">
                    </a><a href="/teacher/37.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121150555_1061.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/37.html">
                        <dl>
                            <dt>
                            <h3>方晓娜</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>语文</dd>
                            <dd><span>教学风格：</span>亲和强，教学中注重与学生的情感交流，从学生的实际出发，尊重学生，善于将学习融入情景中。</dd>
                            <dd><span>教学成果：</span>星火教育优秀教师，在带领的学生中，大假期回头率100%，进步率88%。家长指定补习老师，转介绍也是校区名列前茅，曾带小班续班率高达180%</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/41.html">
                    </a><a href="/teacher/41.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121151206_2853.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/41.html">
                        <dl>
                            <dt>
                            <h3>李丽萍</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>李丽萍老师亲切、思维缜密、狠抓基础重视学生的思考和学习能力的培养     </dd>
                            <dd><span>教学成果：</span>一对一学生进步率达90%以上，回头率达100%。进步较大初中从45分到103分（120分制），所教学生本科目多次获得飞跃进步奖。小班续读率达到100%。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/32.html">
                    </a><a href="/teacher/32.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121150328_0877.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/32.html">
                        <dl>
                            <dt>
                            <h3>高丽霞</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>物理</dd>
                            <dd><span>教学风格：</span>幽默亲和，善于将学习融入情景中</dd>
                            <dd><span>教学成果：</span>星火物理学科的一姐，在带领的学生中，有30人提高20分，40人提高30分，多次作为家长指定补习老师。因此学生粘度这块非常独特，回头率100%，续费率高。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/52.html">
                    </a><a href="/teacher/52.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121152914_7452.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/52.html">
                        <dl>
                            <dt>
                            <h3>崔文</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>物理</dd>
                            <dd><span>教学风格：</span>幽默亲和，教学方法独特。注重学生解题思维的培养</dd>
                            <dd><span>教学成果：</span>星火教学初中高中物理组优秀教师，多次参与新招 聘教师进行培训工作。所带学生物理都有较大进步 ，其中有不少高三学生考入了重本大学。每年获得 优秀案例近20个。是很多家长的指定辅导教师。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/38.html">
                    </a><a href="/teacher/38.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121150826_9840.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/38.html">
                        <dl>
                            <dt>
                            <h3>黄振新</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>物理</dd>
                            <dd><span>教学风格：</span>黄老师的教学专业、富有激情，推崇兴趣与努力相结合的教学理念</dd>
                            <dd><span>教学成果：</span>黄老师所带学生多元化，在多年任教中，根据学生的性格特点采取个性化教学，学生进步率达到百分之九十以上，单科提升分值最高达62分（100分制），众多学生顺利进入五大校或名牌大学，家长对老师信任度高，获得众多学生家长的褒奖。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/55.html">
                    </a><a href="/teacher/55.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121153429_5177.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/55.html">
                        <dl>
                            <dt>
                            <h3>何志莲</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>英语</dd>
                            <dd><span>教学风格：</span>认真负责，对学生有耐心</dd>
                            <dd><span>教学成果：</span>多次获得“优秀教师”的称号。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/39.html">
                    </a><a href="/teacher/39.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121150942_5011.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/39.html">
                        <dl>
                            <dt>
                            <h3>赵贵</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>教学严谨，擅长专研，坚持因材施教授之于鱼的教学理念，知识深入浅出</dd>
                            <dd><span>教学成果：</span>2015年春季高二（理科）小班教材（东莞版）编写者 2  2015年暑假/秋季初中小班人教版教材（集团）的编写者和审核者 3  2015年小班续班率达100% 4  2015年东莞小班峰会讲师第一名 5  一对一进步率高达90%以上，特别是高三全日制学生，进步幅度在20-50分。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/42.html">
                    </a><a href="/teacher/42.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121151300_4429.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/42.html">
                        <dl>
                            <dt>
                            <h3>谢耀品</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>教学理念重在培养学生学习数学趣，激发学生学习潜力，让别人眼中枯燥难懂的数学成为自己提分的一把利器</dd>
                            <dd><span>教学成果：</span>1、蔡志峰刚基准成绩为48分，期末考试得分为98分，进步50分。 2、陈丽渝基准成绩为60分，期末考试得分为110分，进步50分。 3、刘天琦基准成绩为33分，期中考得分是72分，期末87分，进步54分。 4、黎铭恒基准成绩为114分，期末考试得分为109分，名次进步200多名。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/53.html">
                    </a><a href="/teacher/53.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121153012_2467.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/53.html">
                        <dl>
                            <dt>
                            <h3>江坤凤</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>严厉不失温柔，课 上循循善诱，课下 和孩子们打成一片，学生们都觉得很轻松愉快。</dd>
                            <dd><span>教学成果：</span>在教学的同时做好与家长们的沟通，有的时候 还给家长支招该怎么和孩子相处，教导孩子如 何去体谅父母。所带学生中大部分都进步30分 以上。经常转介绍，是家长指定补习老师。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/43.html">
                    </a><a href="/teacher/43.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121151410_0385.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/43.html">
                        <dl>
                            <dt>
                            <h3>潘鸿彬</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>语文</dd>
                            <dd><span>教学风格：</span>教学严谨，用语幽默风趣，善于提高学生的学习兴趣。</dd>
                            <dd><span>教学成果：</span>注重学生学习能力的培养，所带学生中成绩有从70分进步到110分的，擅长阅读和作文教学，家长及学生指定教学。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/40.html">
                    </a><a href="/teacher/40.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121151035_6740.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/40.html">
                        <dl>
                            <dt>
                            <h3>刘胜男</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>风趣幽默，讲课生动形象，机智诙谐，妙语连珠，动人心弦。生动的比喻，开启学生智慧之门</dd>
                            <dd><span>教学成果：</span>学生进步率80%以上，全日制学生进步分数在40分左右，深受学生喜爱，小班免费班续费率110%，帮助学生养成良好的学习习惯。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/35.html">
                    </a><a href="/teacher/35.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/126/132/image/20160121/20160121150347_7287.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/35.html">
                        <dl>
                            <dt>
                            <h3>罗炽钦</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>深入浅出，课堂幽默</dd>
                            <dd><span>教学成果：</span>每年所带的学生都有20分及以上的成绩进步，尤其是毕业班，深得学生喜欢，家长认同，因此在学生维护和管理方面，颇有一套，请假率为零。</dd>
                        </dl>
                    </a>
                </div>
            </li>
        </ul>
    </article>


    <footer class="footer">
        <ul>
            <li class="on">
                <a href="/">
                    <i class="menu_1"></i>
                    <h3>首页</h3>
                </a>
            </li>
            <li>
                <a href="tel:400-877-0068">
                    <i class="menu_2"></i>
                    <h3>电话咨询</h3>
                </a>
            </li>
            <li>

                <a href="http://chat16.live800.com/live800/chatClient/chatbox.jsp?companyID=509441&amp;configID=63570&amp;jid=4167274036" target="_blank">
                    <i class="menu_3"></i>
                    <h3>在线咨询</h3>
                </a>
            </li>
            <li>
                <a href="#top">
                    <i class="menu_4"></i>
                    <h3>回到顶部</h3>
                </a>
            </li>
        </ul>
    </footer>

</section>