<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <include file="wap/Public/header"/>

</head>
<body>


<section class="layout pt88">

    <header class="header header-block header-fixed">
        <div id="top" class="left">


            <a href="#" onclick="javascript: window.history.go(-1); return false;"><span class="arrow"></span>返回</a>
        </div>
        <h2>尚学教育</h2>
        <div class="right">
            <a href="/weixin.html">
                <span class="wx-icon"></span>
                官方微信
            </a>
        </div>
    </header>
   <!-- 选项栏-->
    <section class="top-nav top-nav-col2 js-nav">
        <ul>
            <li>
                <h3>年级 <i class="arrow"></i></h3>
                <dl>
                    <dd><a href="{:U('Teacher/index',array('grade'=>-1,'subject'=>$subject))}">不限</a></dd>
                    <dd><a href="{:U('Teacher/index',array('grade'=>0,'subject'=>$subject))}">小学</a></dd>
                    <dd><a href="{:U('Teacher/index',array('grade'=>1,'subject'=>$subject))}">中学</a></dd>
                    <dd><a href="{:U('Teacher/index',array('grade'=>2,'subject'=>$subject))}">高中</a></dd>



                </dl>
            </li>
            <li>
                <h3>科目 <i class="arrow"></i></h3>
                <dl>
                    <dd><a href="{:U('Teacher/index',array('grade'=>$grade,'subject'=>-1))}">不限</a></dd>
                    <dd><a href="{:U('Teacher/index',array('grade'=>$grade,'subject'=>0))}">语文</a></dd>
                    <dd><a href="{:U('Teacher/index',array('grade'=>$grade,'subject'=>1))}">数学</a></dd>
                    <dd><a href="{:U('Teacher/index',array('grade'=>$grade,'subject'=>2))}">英语</a></dd>
                    <dd><a href="{:U('Teacher/index',array('grade'=>$grade,'subject'=>3))}">历史</a></dd>
                    <dd><a href="{:U('Teacher/index',array('grade'=>$grade,'subject'=>4))}">地理</a></dd>
                    <dd><a href="{:U('Teacher/index',array('grade'=>$grade,'subject'=>5))}">生物</a></dd>
                    <dd><a href="{:U('Teacher/index',array('grade'=>$grade,'subject'=>6))}">物理</a></dd>


                </dl>
            </li>
        </ul>
    </section>
    <!--教师列表-->
    <hr class="line">
    <article class="tech-list">
        <ul>
            <volist name="teachers" id="vo">
            <li>
                <div class="img">
                    <a href="{:U('info',array('id'=>$vo['id']))}">
                    </a><a href="{:U('info',array('id'=>$vo['id']))}" target="_blank"><img src="{$vo.headUrl}"></a>

                </div>
                <div class="text">
                    <a href="{:U('info',array('id'=>$vo['id']))}">
                        <dl>
                            <dt>
                            <h3>{$vo.name}</h3>
                            </dt><dd><span>辅导年级：</span>{$gradeMap[$vo['grade']]}</dd>
                            <dd><span>辅导科目：</span>{$subjectMap[$vo['subject']]}</dd>
                            <dd><span>教学风格：</span>{$vo.style}</dd>
                            <dd><span>教学成果：</span>{$vo.achievement}</dd>
                        </dl>
                    </a>
                </div>
            </li>
            </volist>
        </ul>
    </article>


    <include file="wap/Public/copyright"/>
    <include file="wap/Public/footer"/>

</section>


</body>
</html>