<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <include file="wap/Public/header"/>

</head>
<body>

<section class="layout pt88">

    <header class="header header-block header-fixed">
        <div id="top" class="left">


            <a href="#" onclick="javascript: window.history.go(-1); return false;"><span class="arrow"></span>返回</a>
        </div>
        <h2>星火教育（深圳市）</h2>
        <div class="right">
            <a href="/weixin.html">
                <span class="wx-icon"></span>
                官方微信
            </a>
        </div>
    </header>
    <section class="top-nav top-nav-col2 js-nav">
        <ul>
            <li>
                <h3>年级 <i class="arrow"></i></h3>
                <dl>
                    <dd><a href="/teacher/0-0-1.html">不限</a></dd>
                    <dd><a href="/teacher/10-0-1.html">小学</a></dd>
                    <dd><a href="/teacher/20-0-1.html">中学</a></dd>
                    <dd><a href="/teacher/30-0-1.html">高中</a></dd>



                </dl>
            </li>
            <li>
                <h3>科目 <i class="arrow"></i></h3>
                <dl>
                    <dd><a href="/teacher/0-0-1.html">不限</a></dd>
                    <dd><a href="/teacher/0-1-1.html">物理</a></dd>
                    <dd><a href="/teacher/0-7-1.html">地理</a></dd>
                    <dd><a href="/teacher/0-2-1.html">语文</a></dd>
                    <dd><a href="/teacher/0-3-1.html">英语</a></dd>
                    <dd><a href="/teacher/0-4-1.html">数学</a></dd>
                    <dd><a href="/teacher/0-5-1.html">化学</a></dd>
                    <dd><a href="/teacher/0-6-1.html">生物</a></dd>


                </dl>
            </li>
        </ul>
    </section>
    <hr class="line">
    <article class="tech-list">
        <ul>
            <li>
                <div class="img">
                    <a href="/teacher/594.html">
                    </a><a href="/teacher/594.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601095748_5152.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/594.html">
                        <dl>
                            <dt>
                            <h3>刘巧燕</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>化学</dd>
                            <dd><span>教学风格：</span>性格活泼开朗，语言风趣幽默，善于开导启发学生。以专业、严谨的教学态度，帮助学生进步。</dd>
                            <dd><span>教学成果：</span>拥有多年初中理化教学经验，并且善于抓考点，所带学生进步率达90%，多次获得星火教育“优秀教师”。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/578.html">
                    </a><a href="/teacher/578.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524171251_4071.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/578.html">
                        <dl>
                            <dt>
                            <h3>邱玉富</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>情感、技巧和自然相结合的教学风格。亲切自然，用热情专业去引导学生独立思考。紧抓重点、中考考点讲解，用心去帮助学生、理解学生和感化学生。</dd>
                            <dd><span>教学成果：</span>拥有多年一对一教学经验及小班教学经验，现担任数学组科组长及承诺班数学老师，所带学生成绩进步率达95%以上，现所带学生中有三位数学成绩从七八十分达到九十五分。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/591.html">
                    </a><a href="/teacher/591.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601095205_7730.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/591.html">
                        <dl>
                            <dt>
                            <h3>余风</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>教师亲切与严厉并存，有张有弛，在轻松愉快的氛围中让学生学到知识。认真负责，对每一个学生问的问题，有问必答。用爱心，平等的去爱每一个学生。</dd>
                            <dd><span>教学成果：</span>有多年的一对一和小班教学经验，专业能力突出，所带的学生大部分都有进步，注重于学习素质的培养，善于去总结学习规律，深受学生的喜爱。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/579.html">
                    </a><a href="/teacher/579.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524171511_8166.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/579.html">
                        <dl>
                            <dt>
                            <h3>韩新亮</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>物理</dd>
                            <dd><span>教学风格：</span>眼光看待学生，寓教于乐，乐于教人。</dd>
                            <dd><span>教学成果：</span>现担任物理学科负责人兼理综组组长，曾获得2015年星火教育“进步之星”，2015年季度 “优秀教师”。任教期间学生进步明显，小班教学学生续费率高。与学生之间的关系融洽、和谐，获得家长与同事的一致好评。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/597.html">
                    </a><a href="/teacher/597.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601100114_4566.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/597.html">
                        <dl>
                            <dt>
                            <h3>谢明宇</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>化学</dd>
                            <dd><span>教学风格：</span>知识点讲解比较细致，注重学以致用，联系生活，对学生比较有耐心。</dd>
                            <dd><span>教学成果：</span>所带学生满意度高，学生进步率高达90%以上，参与中考押题。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/600.html">
                    </a><a href="/teacher/600.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601100350_0221.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/600.html">
                        <dl>
                            <dt>
                            <h3>陈虹</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>英语</dd>
                            <dd><span>教学风格：</span>讲课自然亲切，又不乏幽默风趣。注重与学生之间的互动与情感交流，让学生为学习的主动者和创造者。</dd>
                            <dd><span>教学成果：</span>专业知识扎实，教学能力突出。在任教期间，绝大部分学生成绩进步明显，学习方式和学习习惯也有所改进。得到了学生和家长们的一致好评。对待工作认真负责，对待每一位学生都耐心，因材施教，相信每一位孩子都是可造之材！</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/587.html">
                    </a><a href="/teacher/587.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160525/20160525095956_8906.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/587.html">
                        <dl>
                            <dt>
                            <h3>郑宇</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>语文</dd>
                            <dd><span>教学风格：</span>亲切自然，以情感渗透交流为主，启发学生独立思考，紧抓中考考点，让学生在平等和谐的气氛下获得知识。</dd>
                            <dd><span>教学成果：</span>在星火教育工作期间，注重个性化教学，因材施教，注重学生学习方法改进和学习兴趣的培养，不断提高个人教学技巧，改进教学方式，所带学生进步明显。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/580.html">
                    </a><a href="/teacher/580.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524171602_2863.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/580.html">
                        <dl>
                            <dt>
                            <h3>张永芳</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>化学</dd>
                            <dd><span>教学风格：</span>专业、亲切、以启发引导学生独立思考为教学特点，紧抓中高考生物、化学考点，不放弃任何一个学生，用爱感化每一个学生。</dd>
                            <dd><span>教学成果：</span>多年小班教学经验和一对一教学经验，化学、生物双科优秀教师。所带学生满意度98%以上，学生进步率96%左右，大部分学生在中高考中取得骄人成绩。秉持“爱满天下，乐育英才”的教学理念。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/582.html">
                    </a><a href="/teacher/582.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524171807_4919.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/582.html">
                        <dl>
                            <dt>
                            <h3>廖凌云</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>物理</dd>
                            <dd><span>教学风格：</span>教师讲课亲切自然，朴实无华，教学过程中和学生进行真切的情绪交流和知识传递。师生之间在一种平等、协作、和谐的气氛下教学和学习。</dd>
                            <dd><span>教学成果：</span>教学成果：专业能力突出，所带的大部分学生的进步比较明显，受到很多学生的喜欢。遵循因材施教的执教理念，对于不同的学生采用个性化的教学方式。 </dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/589.html">
                    </a><a href="/teacher/589.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601094830_9557.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/589.html">
                        <dl>
                            <dt>
                            <h3>成章锐</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>教师讲课亲切自然，朴实无华，在教学过程中擅长于通过真切的情绪交流来进行知识的传递，极富耐心，师生之间在一种平等，和谐，欢快的教学氛围中进行知识的传授与学习。</dd>
                            <dd><span>教学成果：</span>专业能力突出，所带的大部分学生都进步明显，注重于学习素质的培养，遵循学习规律教学，深受学生的喜爱。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/599.html">
                    </a><a href="/teacher/599.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601100303_3806.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/599.html">
                        <dl>
                            <dt>
                            <h3>徐燕</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>英语</dd>
                            <dd><span>教学风格：</span>用充满激情的教学方式启发学生思考的能力。课堂上严抓知识点和考点，化难为简，让学生在轻松活泼的学习氛围中去学习，提高。</dd>
                            <dd><span>教学成果：</span>有多年小班，初中毕业班和一对一教学经验，也是星火承诺班老师，所带学生进步明显。曾获得“优秀园丁”称号。在2015年雏鹰计划培训中获得团队第一名。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/581.html">
                    </a><a href="/teacher/581.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524171704_2250.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/581.html">
                        <dl>
                            <dt>
                            <h3>王娟娟</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>物理</dd>
                            <dd><span>教学风格：</span>亲切自然且不缺乏幽默，从贴近生活的身边实例入手将知识传授给学生，通俗易懂，以人为本。</dd>
                            <dd><span>教学成果：</span>多年初中物理从教经验，任教期间学生的进步明显，担任2016承诺班春季初中物理老师，也受到很多学生的喜欢、家长的认可。不同的学生采用个性化的教学方式，在与学生建立平等、协作、和谐的气氛下完成教学任务。无论一对一还是小班教学都可以轻松驾驭，综合素质过硬。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/585.html">
                    </a><a href="/teacher/585.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160525/20160525095628_3698.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/585.html">
                        <dl>
                            <dt>
                            <h3>李华夏</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>始终贯彻“以学生为主体，培养学生主动性，兴趣是学习的第一导师”的教学思想，让学生在兴趣中提高成绩。</dd>
                            <dd><span>教学成果：</span>拥有多年丰富的一对一教学经验，学生进步显著，学生和家长满意程度高，学生满意度97%以上，所带学生在中考考试中都取得令人欣喜的成绩。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/576.html">
                    </a><a href="/teacher/576.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524171048_4195.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/576.html">
                        <dl>
                            <dt>
                            <h3>吕春伟</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>讲课情绪饱满，将对科学的热爱和追求融于对学生的关心、教导和期望之中，对孩子高度尊重和信赖。幽默风趣，善于调动学生积极性，对所带的所有孩子都能够认真负责。</dd>
                            <dd><span>教学成果：</span>多年小班教学经验和一对一教学经验，所带国际班学生成绩非常优秀，专业高中毕业班数学教师，所带学生满意度100%，大部分学生在大型考试中成绩在130分以上，所带初三学生单人多次取得满分成绩。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/593.html">
                    </a><a href="/teacher/593.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601095659_5298.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/593.html">
                        <dl>
                            <dt>
                            <h3>朱士超</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>物理</dd>
                            <dd><span>教学风格：</span>幽默亲和，教学方法独特。注重学生解题思维的培养，善于将学习融入情景中</dd>
                            <dd><span>教学成果：</span>星火教育初高中优秀物理老师，担任理综组科组长兼承诺班班主任，多次参与新招聘教师进行培训工作。所带学生物理都有较大进步，所带学生保留率高达85%。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/595.html">
                    </a><a href="/teacher/595.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601095849_6257.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/595.html">
                        <dl>
                            <dt>
                            <h3>张丽</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>化学</dd>
                            <dd><span>教学风格：</span>讲课亲切自然，重难点突出，善于激发学生兴趣，引导学生思考。</dd>
                            <dd><span>教学成果：</span>专业能力突出，所带学生进步率90%以上，学生满意度较高，2015年度被评为“优秀教师”。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/584.html">
                    </a><a href="/teacher/584.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160525/20160525095200_4265.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/584.html">
                        <dl>
                            <dt>
                            <h3>李顺</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>物理</dd>
                            <dd><span>教学风格：</span>课堂亲切自然且不缺乏幽默</dd>
                            <dd><span>教学成果：</span></dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/583.html">
                    </a><a href="/teacher/583.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160525/20160525094657_7331.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/583.html">
                        <dl>
                            <dt>
                            <h3>陈玉兰</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>英语</dd>
                            <dd><span>教学风格：</span>英语课堂生动形象，机智诙谐，让学生心情舒畅，乐于学习。因材施教，课堂结构严谨，紧扣考点。针对学生实际，用独特创新的教学方式，共同营造渴求知识，主动思考的课堂氛围。</dd>
                            <dd><span>教学成果：</span>99%学生都喜爱老师。有着丰富的一对一以及小班教学经验。在因材施教的同时，不断增强教学技巧，让学生对知识点，重难点更容易接受并理解。    </dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/574.html">
                    </a><a href="/teacher/574.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524170631_2892.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/574.html">
                        <dl>
                            <dt>
                            <h3>温世玉</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>语文</dd>
                            <dd><span>教学风格：</span>讲课自然亲切，追求一种平等、协作、和谐的师生关系，将对知识的渴求与探索融于教学情景当中，深受学生和家长好评。</dd>
                            <dd><span>教学成果：</span>专业知识过硬，所带毕业班学生进步率达90%以上；担任春季承诺班初中语文老师；在读学生的写作水平大幅度提升，一致获得家长的认可。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/573.html">
                    </a><a href="/teacher/573.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524170333_7232.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/573.html">
                        <dl>
                            <dt>
                            <h3>何成智 （Jacky）</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>英语</dd>
                            <dd><span>教学风格：</span>主张生动与实效结合，学生主体与老师主导结合；采用互动式、引导式、赏识式教育，充分激发孩子的潜能。</dd>
                            <dd><span>教学成果：</span>在星火教育工作期间，注重学生学习习惯改善、学习方法的改进、学习兴趣的培养，学生进步率和保有率较大。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/575.html">
                    </a><a href="/teacher/575.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524170857_6670.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/575.html">
                        <dl>
                            <dt>
                            <h3>胡婷婷</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>有亲和力，以朋友相处，注重因材施教，根据学生的性格制定相应的学习辅导计划。</dd>
                            <dd><span>教学成果：</span>所带学生90%进步显著，曾有一位学生一学期进步30至40分，还有学生年级排名进入全校前30，顺利进入火箭班。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/596.html">
                    </a><a href="/teacher/596.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601100007_0178.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/596.html">
                        <dl>
                            <dt>
                            <h3>叶美妙</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>物理</dd>
                            <dd><span>教学风格：</span>以情感渗透交流了解学生心理及学习情况，以启发学生独立思考为教学重点，以培养学生良好学习习惯为辅。课上充满激情，课下充满热情，用心与学生交流。</dd>
                            <dd><span>教学成果：</span>所带学生进步明显，学生在一个学期内单科提分平均为10分，几个学生单科在半个学期内最高提分32分。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/586.html">
                    </a><a href="/teacher/586.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160525/20160525095804_2941.jpg"></a>

                </div>
                <div class="text">
                    <a href="/teacher/586.html">
                        <dl>
                            <dt>
                            <h3>余林晶</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>英语</dd>
                            <dd><span>教学风格：</span>把学生当作自己的孩子去热爱，去教学，让师生一起享受学习的乐趣。</dd>
                            <dd><span>教学成果：</span>专业技能突出，教学经验丰富，家长学生满意度98%。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/592.html">
                    </a><a href="/teacher/592.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601095544_8878.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/592.html">
                        <dl>
                            <dt>
                            <h3>杨建都</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>情绪饱满，条理清楚，通俗易懂，用思维的逻辑力量吸引学生注意力，用轻松幽默的语言激发学生学习欲望，深受学生好评。</dd>
                            <dd><span>教学成果：</span>有多年毕业班教学经验，所带学生成绩进步明显，曾多次获得星火教育“优秀教师”奖，多次被学生及家长指定为任课老师。 </dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/590.html">
                    </a><a href="/teacher/590.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601095037_9895.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/590.html">
                        <dl>
                            <dt>
                            <h3>成航</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>悉心教学，教学课堂轻松，教学方式灵活多变，使得学生通俗易懂。遵循着因材施教的教学宗旨。</dd>
                            <dd><span>教学成果：</span>科班出身，数学功底扎实。平等的师生关系，融洽的交流方式，使得课堂氛围非常轻松。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/598.html">
                    </a><a href="/teacher/598.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601115116_5332.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/598.html">
                        <dl>
                            <dt>
                            <h3>张玮</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>英语</dd>
                            <dd><span>教学风格：</span>亲切自然，循因善透。教学过程与学生真切交流，引导学生独立思考的能力，全方面提升。</dd>
                            <dd><span>教学成果：</span>专业能力突出，所带的学生大部分成绩均有所提高，有丰富的教学经验。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/601.html">
                    </a><a href="/teacher/601.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601100451_9764.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/601.html">
                        <dl>
                            <dt>
                            <h3>樊灏臻</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>语文</dd>
                            <dd><span>教学风格：</span>注重激发学生的学习兴趣，变被动学习为主动学习；着重培养学生良好的学习习惯和解题思路，把握学习规律。  </dd>
                            <dd><span>教学成果：</span>拥有丰富的一对一和小班教学经验，专业功底深厚，授课方式亲切易懂，学生进步明显，得到家长和孩子的一致好评。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/572.html">
                    </a><a href="/teacher/572.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524165909_1556.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/572.html">
                        <dl>
                            <dt>
                            <h3>吕莉</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>英语</dd>
                            <dd><span>教学风格：</span>善于归纳和总结，紧抓中考考点；情感渗透交流，充分激发学生的学习欲望，注重学生学习兴趣的激发和良好习惯的培养。</dd>
                            <dd><span>教学成果：</span>拥有多年一对一教学经验，学生进步明显，名列前茅，曾获得“2016年英语口语风采大赛”第3名，年级前十名的优异成绩，学生和家长的满意度非常高。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/577.html">
                    </a><a href="/teacher/577.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160524/20160524171146_7336.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/577.html">
                        <dl>
                            <dt>
                            <h3>李凤琪</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>中学</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>上课条理清楚，层层剖析，深入浅出，用思维的逻辑力量吸引学生的注意力，严肃但不乏幽默。</dd>
                            <dd><span>教学成果：</span>所带学生进步明显、在做题方法、心态或学习习惯上等都有较大的突破。其中小学生成绩提高率达100%，初中生成绩进步率90%以上，多人考上深圳重点初中。</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="img">
                    <a href="/teacher/588.html">
                    </a><a href="/teacher/588.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/1152/1159/image/20160601/20160601094731_2671.png"></a>

                </div>
                <div class="text">
                    <a href="/teacher/588.html">
                        <dl>
                            <dt>
                            <h3>赵小光</h3> <div class="gb-stars stars">
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                            <span class="icon-str"></span>
                        </div>
                            </dt><dd><span>辅导年级：</span>高中</dd>
                            <dd><span>辅导科目：</span>数学</dd>
                            <dd><span>教学风格：</span>培养学生逻辑推理能力，总结每一位学生的学习方法，从而提高学生的学习能力。</dd>
                            <dd><span>教学成果：</span></dd>
                        </dl>
                    </a>
                </div>
            </li>
        </ul>
    </article>


    <include file="wap/Public/copyright"/>
    <include file="wap/Public/footer"/>

</section>


</body>
</html>