<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->



<div class="page">
    <div class="main">


        <include file="Public/menu"/>


        <!--导航菜单开始-->

        <!--导航菜单结束-->

        <!--左侧模块-->
        <div class="teach_detail">
            <div class="page_btn">您现在的位置：<a href="{:U('/Home/Index',array('id'=>1))}">首页</a> &gt; <a href="{:U('index',array('id'=>1))}">课程展示</a> &gt; 正文  </div>
            <div class="teach_contents">
                <div class="contents">
                    <dl>
                        <dt><img src="{$book['headPic']}"></dt>
                        <dd class="list-tx">
                            <h5>{$book['curriculumName']}</h5>
                            <p><em>适用学员：</em>{$book['ApplicablePeople']}</p><br>
                            <p><em>课程简介：</em>{$book['summary']}</p>
                            <i class="u-star5"></i>
                        </dd>
                    </dl>
                </div>
<!--                <div class="list floatL">
                    <p><em class="grade">辅导年级：</em>{$book['curriculumName']}</p>
                    <p>
                        <em class="subject">辅导科目：</em>{$book['curriculumName']}
                    </p>

                </div>-->
<!--                <div class="listr floatR">
                    <p>
                        <em class="style">教学风格：</em>{$teacher['style']}
                    </p>
                    <p>
                        <em class="achievement">教学成果：</em>{$teacher['achievement']}
                    </p>
                </div>-->
                <div class="clear"></div>
            </div>
        </div>
        <!--推荐课程-->
        <div class="atten_teach">
            <h5>推荐课程</h5>
            <ul>
                <li class="teach-link" onmouseover="JavaScript:this.style.background='#F1F1F1';" onmouseout="JavaScript:this.style.background='#fff';" style="background: rgb(255, 255, 255);">
                    <a href="{:U('info',array('id'=>$recommend[0]['id']))}"><img src="{$recommend[0]['headPic']}"></a>
                    <div class="left-teach-detail">

                        <!--<p class="title"> <a href="{:U('info',array('id'=>$recommend[0]['id']))}">{$recommend[0]['curriculumName']}</a></p>-->
                        <a href="{:U('info',array('id'=>$recommend[0]['id']))}">
                            <p style="color: #3992d0;font-weight: bold">{$recommend[0]['curriculumName']}</p><br>
                        </a>
                            <p><em>试用人群：</em><br>
                            {$recommend[0]['ApplicablePeople']}</p>
                        <!--<p><em>试用人群：</em></p>-->

                    </div>

                </li>
                <li class="teach-link" onmouseover="JavaScript:this.style.background='#F1F1F1';" onmouseout="JavaScript:this.style.background='#fff';" style="background: rgb(255, 255, 255);">
                    <a href="{:U('info',array('id'=>$recommend[1]['id']))}"><img src="{$recommend[1]['headPic']}"></a>
                    <div class="left-teach-detail">

                        <a href="{:U('info',array('id'=>$recommend[1]['id']))}">
                            <p style="color: #3992d0;font-weight: bold">{$recommend[1]['curriculumName']}</p><br>
                        </a>
                        <p><em>试用人群：</em><br>
                            {$recommend[1]['ApplicablePeople']}</p>


                    </div>

                </li>
                <li class="teach-link" onmouseover="JavaScript:this.style.background='#F1F1F1';" onmouseout="JavaScript:this.style.background='#fff';" style="background: rgb(255, 255, 255);">
                    <a href="{:U('info',array('id'=>$recommend[2]['id']))}"><img src="{$recommend[2]['headPic']}"></a>
                    <div class="left-teach-detail">

                        <a href="{:U('info',array('id'=>$recommend[2]['id']))}">
                            <p style="color: #3992d0;font-weight: bold">{$recommend[2]['curriculumName']}</p><br>
                        </a>
                        <p><em>试用人群：</em><br>
                            {$recommend[2]['ApplicablePeople']}</p>


                    </div>

                </li>
                <li class="teach-link" onmouseover="JavaScript:this.style.background='#F1F1F1';" onmouseout="JavaScript:this.style.background='#fff';">
                    <a href="{:U('info',array('id'=>$recommend[3]['id']))}"><img src="{$recommend[3]['headPic']}"></a>
                    <div class="left-teach-detail">

                        <a href="{:U('info',array('id'=>$recommend[3]['id']))}">
                            <p style="color: #3992d0;font-weight: bold">{$recommend[3]['curriculumName']}</p><br>
                        </a>
                        <p><em>试用人群：</em><br>
                            {$recommend[3]['ApplicablePeople']}</p>


                    </div>

                </li>
                <li class="teach-link" onmouseover="JavaScript:this.style.background='#F1F1F1';" onmouseout="JavaScript:this.style.background='#fff';" style="background: rgb(255, 255, 255);">
                    <a href="{:U('info',array('id'=>$recommend[4]['id']))}"><img src="{$recommend[4]['headPic']}"></a>
                    <div class="left-teach-detail">

                        <a href="{:U('info',array('id'=>$recommend[4]['id']))}">
                            <p style="color: #3992d0;font-weight: bold">{$recommend[4]['curriculumName']}</p><br>
                        </a>
                        <p><em>试用人群：</em><br>
                            {$recommend[4]['ApplicablePeople']}</p>


                    </div>

                </li>
                <li class="teach-link" onmouseover="JavaScript:this.style.background='#F1F1F1';" onmouseout="JavaScript:this.style.background='#fff';">
                    <a href="{:U('info',array('id'=>$recommend[5]['id']))}"><img src="{$recommend[5]['headPic']}"></a>
                    <div class="left-teach-detail">

                        <a href="{:U('info',array('id'=>$recommend[5]['id']))}">
                            <p style="color: #3992d0;font-weight: bold">{$recommend[5]['curriculumName']}</p><br>
                        </a>
                        <p><em>试用人群：</em><br>
                            {$recommend[5]['ApplicablePeople']}</p>

                    </div>

                </li>
                <div class="clear"></div>
            </ul>
        </div>


        <div class="clear"></div>

    </div>
</div>





<include file="Public/friendship"/>
<include file="Public/navigation"/>
<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>




