<footer class="footer">
    <ul>
        <li class="on">
            <a href="{:U('Index/index')}">
                <i class="menu_1"></i>
                <h3>首页</h3>
            </a>
        </li>
        <li>
            <a href="tel:400-877-0068">
                <i class="menu_2"></i>
                <h3>电话咨询</h3>
            </a>
        </li>
        <li>

            <a href="{:U('Message/index')}" target="_blank">
                <i class="menu_3"></i>
                <h3>在线留言</h3>
            </a>
        </li>
        <li>
            <a href="#top">
                <i class="menu_4"></i>
                <h3>回到顶部</h3>
            </a>
        </li>
    </ul>
</footer>
