<script src="__PUBLIC__/Home/wap/jquery-1.7.2.js"></script>
<script src="__PUBLIC__/Home/wap/mobilePublic.js"></script>
<script src="__PUBLIC__/Home/wap/swiper.min.js"></script>
<script src="__PUBLIC__/Home/wap/myscript.js"></script>

<link rel="stylesheet" href="__PUBLIC__/Home/wap/rest.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/wap/style.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/wap/swiper.min.css"/>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">