<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <include file="wap/Public/header"/>

</head>
<body>

<section class="layout pt88">

    <header class="header header-block header-fixed">
        <div id="top" class="left">


            <a href="#" onclick="javascript: window.history.go(-1); return false;"><span class="arrow"></span>返回</a>
        </div>
        <h2>尚学教育</h2>
        <div class="right">
            <a href="/weixin.html">
                <span class="wx-icon"></span>
                官方微信
            </a>
        </div>
    </header>
    <section class="tech-detail">
        <div class="tech-head">
            <div class="img">
                <a href="/teacher/56.html"><img src="{$book['headPic']}"></a>
            </div>
            <div class="txt">
                <span class="name">{$book['curriculumName']}</span><br>
                <span class="txt2">{$gradeMap[$book['CurriculumLevel']]} {$subjectMap[$book['CourseType']]}</span>
            </div>
        </div>
<!--        <div class="tech-intro">
            <p>{$gradeMap[$book['CurriculumLevel']]} {$subjectMap[$book['CourseType']]}</p>
        </div>-->
        <hr class="line">
        <div class="tech-body">
            <dl>
                <dt><i class="icon1"></i><span>适合年级：</span></dt>
                <dd>{$gradeMap[$book['CurriculumLevel']]}</dd>
            </dl>
            <dl>
                <dt><i class="icon2"></i><span>辅导科目：</span></dt>
                <dd>{$subjectMap[$book['CourseType']]}</dd>
            </dl>
            <dl>
                <dt><i class="icon3"></i><span>适合学生：</span></dt>
                <dd>{$book['ApplicablePeople']}</dd>
            </dl>
            <dl>
                <dt><i class="icon4"></i><span>书籍简介：</span></dt>
                <dd>{$book['summary']}</dd>
            </dl>
        </div>

    </section>


    <include file="wap/Public/copyright"/>
    <include file="wap/Public/footer"/>
</section>


</body>
</html>