<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->


<div class="page">
    <!--<div class="main">-->
    <div class="main">


    <include file="Public/menu"/>

    </div>
    <!--左侧导航-->
    <!--        <div class="left_menu">
                <h3>课程导航</h3>
                <ul>
                    <li><a href="{:U('Curr/index',array('grade'=>0))}" target="_blank">小学辅导</a></li>
                    <li><a href="{:U('Curr/index',array('grade'=>1))}" target="_blank">初中辅导</a></li>
                    <li><a href="{:U('Curr/index',array('grade'=>2))}" target="_blank">高中辅导</a></li>
                </ul>
            </div>-->

    <style>
        .banner { position: relative; overflow: auto; text-align: center;}
        .banner li { list-style: none; }
        .banner ul li { float: left; }


        #b02 { width: 1210px;}
        #b02 .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
        #b02 .dots li
        {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 4px;
            text-indent: -999em;
            border: 2px solid #3992d0;
            border-radius: 6px;
            cursor: pointer;
            opacity: .4;
            -webkit-transition: background .5s, opacity .5s;
            -moz-transition: background .5s, opacity .5s;
            transition: background .5s, opacity .5s;
        }
        #b02 .dots li.active
        {
            background: #fff;
            opacity: 1;
        }
    </style>
<!--轮播-->
<div class="nav_width">
    <div style="height: 500px;">
        <div class="banner" id="b02" style="margin: 0 auto;height: 320px;">
            <ul>
                <volist name="carousel" id="vo">
                    <li><A HREF="{$vo.link}"><img src="{$vo.headPic}" alt="" ></A></li>
                </volist>
            </ul>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function(e) {
            $('#b02').unslider({
                dots: true

            });
        });
    </script>

    <div class="clear"></div>
    <!--推荐的老师-->
    <div class="nav_grey">
        <div class="main">
            <span class="nav_etital">Recommend teacher</span><br>
            <span class="nav_tital">--------推荐的老师--------</span>
            <div class="atten_teach" style="text-align: left">
                <ul>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#F3f3f3';"
                        onmouseout="JavaScript:this.style.background='';">
                        <a href="{:U('../Home/Teacher/info',array('id'=>$recommend[0]['id']))}"><img
                                src="{$recommend[0]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <p class="title"><a href="{:U('../Home/Teacher/info',array('id'=>$recommend[0]['id']))}">{$recommend[0]['name']}</a>
                            </p>
                            <p><em>辅导年级：</em>{$gradeMap[$recommend[0]['grade']]}</p>
                            <p><em>辅导科目：</em>{$subjectMap[$recommend[0]['subject']]}</p>

                        </div>

                    </li>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#F3f3f3';"
                        onmouseout="JavaScript:this.style.background='';">
                        <a href="{:U('../Home/Teacher/info',array('id'=>$recommend[1]['id']))}"><img
                                src="{$recommend[1]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <p class="title"><a href="{:U('../Home/Teacher/info',array('id'=>$recommend[1]['id']))}">{$recommend[1]['name']}</a>
                            </p>
                            <p><em>辅导年级：</em>{$gradeMap[$recommend[1]['grade']]}</p>
                            <p><em>辅导科目：</em>{$subjectMap[$recommend[1]['subject']]}</p>

                        </div>

                    </li>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#F3f3f3';"
                        onmouseout="JavaScript:this.style.background='';">
                        <a href="{:U('../Home/Teacher/info',array('id'=>$recommend[2]['id']))}"><img
                                src="{$recommend[2]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <p class="title"><a href="{:U('../Home/Teacher/info',array('id'=>$recommend[2]['id']))}">{$recommend[2]['name']}</a>
                            </p>
                            <p><em>辅导年级：</em>{$gradeMap[$recommend[2]['grade']]}</p>
                            <p><em>辅导科目：</em>{$subjectMap[$recommend[2]['subject']]}</p>

                        </div>

                    </li>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#F3f3f3';"
                        onmouseout="JavaScript:this.style.background='';">
                        <a href="{:U('../Home/Teacher/info',array('id'=>$recommend[3]['id']))}"><img
                                src="{$recommend[3]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <p class="title"><a href="{:U('../Home/Teacher/info',array('id'=>$recommend[3]['id']))}">{$recommend[3]['name']}</a>
                            </p>
                            <p><em>辅导年级：</em>{$gradeMap[$recommend[3]['grade']]}</p>
                            <p><em>辅导科目：</em>{$subjectMap[$recommend[3]['subject']]}</p>

                        </div>

                    </li>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#F3f3f3';"
                        onmouseout="JavaScript:this.style.background='';">
                        <a href="{:U('../Home/Teacher/info',array('id'=>$recommend[4]['id']))}"><img
                                src="{$recommend[4]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <p class="title"><a href="{:U('../Home/Teacher/info',array('id'=>$recommend[4]['id']))}">{$recommend[4]['name']}</a>
                            </p>
                            <p><em>辅导年级：</em>{$gradeMap[$recommend[4]['grade']]}</p>
                            <p><em>辅导科目：</em>{$subjectMap[$recommend[4]['subject']]}</p>

                        </div>

                    </li>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#F3f3f3';"
                        onmouseout="JavaScript:this.style.background='';">
                        <a href="{:U('../Home/Teacher/info',array('id'=>$recommend[5]['id']))}"><img
                                src="{$recommend[5]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <p class="title"><a href="{:U('../Home/Teacher/info',array('id'=>$recommend[5]['id']))}">{$recommend[5]['name']}</a>
                            </p>
                            <p><em>辅导年级：</em>{$gradeMap[$recommend[5]['grade']]}</p>
                            <p><em>辅导科目：</em>{$subjectMap[$recommend[5]['subject']]}</p>

                        </div>

                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
    <!--最受关注课程-->
    <div class="nav_width">
        <div class="main">
            <span class="nav_etital">Recommended courses</span><br>
            <span class="nav_tital">--------推荐的课程--------</span>
            <div class="atten_curriculum" style="text-align: left">
                <ul>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#FAFAFA';"
                        onmouseout="JavaScript:this.style.background='#fff';">
                        <a href="{:U('../Home/Curr/info',array('id'=>$recommends[0]['id']))}"><img
                                src="{$recommends[0]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <!--<p class="title"> <a href="{:U('info',array('id'=>$recommend[0]['id']))}">{$recommend[0]['curriculumName']}</a></p>-->
                            <a href="{:U('../Home/Curr/info',array('id'=>$recommends[0]['id']))}">
                                <p style="color: #3992d0;font-weight: bold">{$recommends[0]['curriculumName']}</p><br>
                            </a>
                            <p><em>试用人群：</em><br>
                                {$recommends[0]['ApplicablePeople']}</p>
                            <!--<p><em>试用人群：</em></p>-->

                        </div>

                    </li>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#FAFAFA';"
                        onmouseout="JavaScript:this.style.background='#fff';">
                        <a href="{:U('../Home/Curr/info',array('id'=>$recommends[1]['id']))}"><img
                                src="{$recommends[1]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <a href="{:U('../Home/Curr/info',array('id'=>$recommends[1]['id']))}">
                                <p style="color: #3992d0;font-weight: bold">{$recommends[1]['curriculumName']}</p><br>
                            </a>
                            <p><em>试用人群：</em><br>
                                {$recommends[1]['ApplicablePeople']}</p>


                        </div>

                    </li>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#FAFAFA';"
                        onmouseout="JavaScript:this.style.background='#fff';">
                        <a href="{:U('../Home/Curr/info',array('id'=>$recommends[2]['id']))}"><img
                                src="{$recommends[2]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <a href="{:U('../Home/Curr/info',array('id'=>$recommends[2]['id']))}">
                                <p style="color: #3992d0;font-weight: bold">{$recommends[2]['curriculumName']}</p><br>
                            </a>
                            <p><em>试用人群：</em><br>
                                {$recommends[2]['ApplicablePeople']}</p>


                        </div>

                    </li>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#FAFAFA';"
                        onmouseout="JavaScript:this.style.background='#fff';">
                        <a href="{:U('../Home/Curr/info',array('id'=>$recommends[3]['id']))}"><img
                                src="{$recommends[3]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <a href="{:U('../Home/Curr/info',array('id'=>$recommends[3]['id']))}">
                                <p style="color: #3992d0;font-weight: bold">{$recommends[3]['curriculumName']}</p><br>
                            </a>
                            <p><em>试用人群：</em><br>
                                {$recommends[3]['ApplicablePeople']}</p>


                        </div>

                    </li>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#FAFAFA';"
                        onmouseout="JavaScript:this.style.background='#fff';">
                        <a href="{:U('../Home/Curr/info',array('id'=>$recommends[4]['id']))}"><img
                                src="{$recommends[4]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <a href="{:U('../Home/Curr/info',array('id'=>$recommends[4]['id']))}">
                                <p style="color: #3992d0;font-weight: bold">{$recommends[4]['curriculumName']}</p><br>
                            </a>
                            <p><em>试用人群：</em><br>
                                {$recommends[4]['ApplicablePeople']}</p>


                        </div>

                    </li>
                    <li class="teach-link" onmouseover="JavaScript:this.style.background='#FAFAFA';"
                        onmouseout="JavaScript:this.style.background='#fff';">
                        <a href="{:U('../Home/Curr/info',array('id'=>$recommends[5]['id']))}"><img
                                src="{$recommends[5]['headPic']}"></a>
                        <div class="left-teach-detail">

                            <a href="{:U('../Home/Curr/info',array('id'=>$recommends[5]['id']))}">
                                <p style="color: #3992d0;font-weight: bold">{$recommends[5]['curriculumName']}</p><br>
                            </a>
                            <p><em>试用人群：</em><br>
                                {$recommends[5]['ApplicablePeople']}</p>

                        </div>

                    </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
    <!--推荐咨询-->
    <div class="nav_grey" style="height: 1000px">
        <div class="main">
            <span class="nav_etital">Recommended Advisory</span><br>
            <span class="nav_tital">--------推荐星咨询--------</span>
        <!--星咨询-->
            <div style="width: 1210px;margin:auto;margin-top: 100px;">
        <div class="nav_bleft">
            <!--Start of the Tabmenu 1 -->
            <div class="inforRmenu">
                <ul>

                    <script>
                        function easytabs(a, b) {
                            $("#tabcontent1,#tabcontent2,#tabcontent3").hide()
                            $("#tabcontent" + b).show()
                            $("#tablink1,#tablink2,#tablink3").removeClass('tabactive')
                            $("#tablink" + b).addClass('tabactive')
                        }
                    </script>

                    <!--<li class="title">星资讯</li>-->
                    <li><a href="#" onmouseover="easytabs('1', '1');" onfocus="easytabs('1', '1');"
                           onclick="return false;" title="" id="tablink1" class="tab1 tabactive">小学</a></li>
                    <li><a href="#" onmouseover="easytabs('1', '2');" onfocus="easytabs('1', '2');"
                           onclick="return false;" title="" id="tablink2" class="tab2">初中</a></li>
                    <li><a href="#" onmouseover="easytabs('1', '3');" onfocus="easytabs('1', '3');"
                           onclick="return false;" title="" id="tablink3" class="tab3">高中</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <!--End of the Tabmenu 1 -->
            <!--Start Tabcontent 1 -->
            <div id="tabcontent1" style="display: block;">

                <volist name="news1" id="vo">
                    <div class="study_news" onmouseover="JavaScript:this.style.background='#FAFAFA';"
                         onmouseout="JavaScript:this.style.background='#eee';" style="background: #eee;">
                        <ul>
                            <li class="img">
                                <a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                                    <img src="{$vo['headUrl']}"></a>
                            </li>
                            <li class="contents">
                                <h3><a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">{$vo['title']}</a>
                                </h3>
                                {$vo['description']}
                                <a class="smore" href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">[详细]</a>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </volist>

            </div>
            <!--End Tabcontent 1-->
            <!--Start Tabcontent 2-->
            <div id="tabcontent2" style="display: none;">
                <volist name="news2" id="vo">
                    <div class="study_news" onmouseover="JavaScript:this.style.background='#FAFAFA';"
                         onmouseout="JavaScript:this.style.background='#eee';" style="background: #eee;">
                        <ul>
                            <li class="img">
                                <a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                                    <img src="{$vo['headUrl']}"></a>
                            </li>
                            <li class="contents">
                                <h3><a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">{$vo['title']}</a>
                                </h3>
                                {$vo['description']}
                                <a class="smore" href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">[详细]</a>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </volist>

            </div>
            <!--End Tabcontent 2 -->
            <!--Start Tabcontent 3-->
            <div id="tabcontent3" style="display: none;">
                <volist name="news3" id="vo">
                    <div class="study_news" onmouseover="JavaScript:this.style.background='#FAFAFA';"
                         onmouseout="JavaScript:this.style.background='#eee';" style="background: #eee;">
                        <ul>
                            <li class="img">
                                <a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                                    <img src="{$vo['headUrl']}"></a>
                            </li>
                            <li class="contents">
                                <h3><a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">{$vo['title']}</a>
                                </h3>
                                {$vo['description']}
                                <a class="smore" href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">[详细]</a>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </volist>
            </div>
            <!--End Tabcontent 3-->
        </div>
            </div>
        <div class="nav_bright">
            <!--右侧留言板-->
            <div class="nav_bulletin">
                <h3>在线留言</h3>
                <a>
                    <img src="__PUBLIC__/Home/pc/Content/Images/20131227123536_68660.jpg" style=" width: 100%; height: auto;" alt=""/>
                </a>
            </div>
            <!--右侧资讯-->
  <!--          <div class="brand-right">
                <h3>公司资讯</h3>

            </div>-->


            <div class="nav_bulletin" style="margin-top: 15px;">
                <h3>公司资讯</h3>
                <ul class="inforR_text">
                    <volist name="$information" id="vo">
                        <li><a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                            {$vo['title']}</a></li>
                    </volist>

               </ul>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    </div>

    <!--</div>-->
</div>

<include file="Public/friendship"/>
<include file="Public/navigation"/>

<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>
