<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->



<div class="page">
    <div class="main">


        <include file="Public/menu"/>



        <!--左侧导航-->
        <div class="left_menu">
            <h3>课程导航</h3>
            <ul>
                <li><a href="{:U('Curr/index',array('grade'=>0))}" target="_blank">小学辅导</a></li>
                <li><a href="{:U('Curr/index',array('grade'=>1))}" target="_blank">初中辅导</a></li>
                <li><a href="{:U('Curr/index',array('grade'=>2))}" target="_blank">高中辅导</a></li>
            </ul>
        </div>



        <!--轮播广告图-->
        <div class="nav_banner">
            <div id="fsD1" class="focus">
                <div id="D1pic1" class="fPic">
                    <div class="fcon" style="display: none;">
                        <a href="http://fz.xinghuo100.com/201609/4308.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/924/936/940/image/20160922/20160922152302_0040.jpg" alt="" style="opacity: 1;"></a>
                    </div>
                    <div class="fcon" style="display: block;">
                        <a href="http://www.xinghuo100.com/zhuanti/qiuji2016/fuzhou/qiuji2016.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/924/936/940/image/20160906/20160906110921_8643.jpg" alt="" style="opacity: 1;"></a>
                    </div>
                    <div class="fcon" style="display: none;">
                        <a href="http://vip.xinghuo100.com/" target="_blank"><img src="http://file.xinghuo100.com/upload/25/924/936/940/image/20160804/20160804093552_6356.jpg" alt="" style="opacity: 1;"></a>
                    </div>
                </div>
                <div class="fbg">
                    <div class="D1fBt" id="D1fBt">
                        <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i></i></a>
                        <a href="javascript:void(0)" hidefocus="true" target="_self" class="current"><i></i></a>
                        <a href="javascript:void(0)" hidefocus="true" target="_self" class=""><i></i></a>
                    </div>
                </div>
                <span class="prev"></span>
                <span class="next"></span>
            </div>
            <script type="text/javascript">
                $(function () {
                    Qfast.add('widgets', { path: "/Scripts/Thirdparty/terminator2.2.min.js", type: "js", requires: ['fx'] });
                    Qfast(false, 'widgets', function () {
                        K.tabs({
                            id: 'fsD1',   //焦点图包裹id
                            conId: "D1pic1",  //** 大图域包裹id
                            tabId: "D1fBt",
                            tabTn: "a",
                            conCn: '.fcon', //** 大图域配置class
                            auto: 1,   //自动播放 1或0
                            effect: 'fade',   //效果配置
                            eType: 'click', //** 鼠标事件
                            pageBt: true,//是否有按钮切换页码
                            bns: ['.prev', '.next'],//** 前后按钮配置class
                            interval: 3000  //** 停顿时间
                        })
                    })
                });
            </script>
        </div>


        <div class="nav_right">



            <!--图标块-->
            <div class="iconR">
                <div class="icons">
                    <table class="table1" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <th class="th1">
                                <a href="/campus/0-1.html" target="_blank">校区查询</a>
                            </th>
                            <th class="th2">
                                <a href="/teacher/0-0-1.html" target="_blank">老师查询</a>
                            </th>
                            <th class="th4">
                                <a href="/school/0-0-0-1.html" target="_blank">名校库</a>
                            </th>
                        </tr>
                        <tr>

                            <th class="th3">
                                <a href="http://chat16.live800.com/live800/chatClient/chatbox.jsp?companyID=509441&amp;configID=63570&amp;jid=4167274036" target="_blank">在线咨询</a>
                            </th>
                            <th class="th5" id="quickClass">
                                免费热线
                                <div class="kjbb">
                                    <div class="kjbb_t">
                                        全国统一提分热线:
                                        <p>
                                            <strong>400-877-0068</strong>
                                        </p>
                                    </div>
                                    <span class="guanbi"></span>
                                </div>
                            </th>
                            <th class="th6" id="quickClass01">
                                官方微信
                                <div class="kjbbg">
                                    <div class="kjbb_t">
                                        <img src="http://file.xinghuo100.com/upload/25/924/935/image/20160620/20160620181805_3643.jpg">

                                    </div>
                                    <span class="guanbi"></span>
                                </div>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!--星火快讯-->
            <div class="nav_bulletin">
                <h3>星火快讯<a class="smore" href="/xhkx/0-1.html" target="_blank">更多</a></h3>
                <ul class="inforR_text">
                    <li><a href="/201609/4521.html" target="_blank">《星火教育狂揽“2016新浪全国五星金牌教师”活动五项大奖》</a></li>
                    <li><a href="/201609/4308.html" target="_blank">2016腾讯中国好老师荣誉盛典北京召开 星火教育霸气狂揽多项大奖</a></li>
                    <li><a href="/201608/3944.html" target="_blank">【2016年高考回顾】看学霸传奇故事 重新定义高分概念</a></li>

                </ul>
            </div>
        </div>
        <div class="clear"></div>

        <!--通栏广告-->
        <div class="main" style="margin-top:20px;"><a href="http://fz.xinghuo100.com/201609/4521.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/924/936/940/image/20160922/20160922152035_9543.jpg" alt=""></a></div>

        <!--学习方式-->
        <div class="main" style="margin-bottom:20px;">
            <h3 class="study_title">在星火，选择最适合您孩子的学习方式：</h3>
            <div class="study_info" onmouseover="JavaScript:this.style.background='url(__PUBLIC__/Home/pc/Content/Images/study_bg.jpg) repeat-x bottom #fff';" onmouseout="JavaScript:this.style.background='url(__PUBLIC__/Home/pc/Content/Images/study_bgn.jpg) repeat-x bottom #fff';" style="background: url(&quot;/Content/Images/study_bgn.jpg&quot;) center bottom repeat-x rgb(255, 255, 255);">
                <ul>
                    <li class="img"><img src="__PUBLIC__/Home/pc/Content/Images/img_study01.jpg"></li>
                    <li class="contents">
                        <a href="http://vip.xinghuo100.com/" target="_blank">
                            <h3>一对一</h3>
                            <h2>内驱式+引导式教学法</h2>
                            以孩子为中心，定制最适合孩子的教育，不仅注重学习技巧，更注重素质 教育，全方面成长。
                        </a>
                    </li>
                </ul>
            </div>
            <div class="study_info" onmouseover="JavaScript:this.style.background='url(__PUBLIC__/Home/pc/Content/Images/study_bg.jpg) repeat-x bottom #fff';" onmouseout="JavaScript:this.style.background='url(__PUBLIC__/Home/pc/Content/Images/study_bgn.jpg) repeat-x bottom #fff';">
                <ul>
                    <li class="img"><img src="__PUBLIC__/Home/pc/Content/Images/img_study02.jpg"></li>
                    <li class="contents">
                        <a href="http://fudao.xinghuo100.com/" target="_blank">
                            <h3>辅导班</h3>
                            <h2>精品化班型设计+分层教学+小组讨论</h2>
                            3-15人成班，精品化班型设计，课堂气氛活跃，既满足了学生共同学习、课堂竞争的需求，又能让每一个学生得到充分关注。
                        </a>
                    </li>
                </ul>
            </div>
            <div class="study_infor" onmouseover="JavaScript:this.style.background='url(__PUBLIC__/Home/pc/Content/Images/study_bg.jpg) repeat-x bottom #fff';" onmouseout="JavaScript:this.style.background='url(__PUBLIC__/Home/pc/Content/Images/study_bgn.jpg) repeat-x bottom #fff';">
                <ul>
                    <li class="img"><img src="__PUBLIC__/Home/pc/Content/Images/img_study03.jpg"></li>
                    <li class="contents">
                        <a href="http://jingying.xinghuo100.com/" target="_blank">
                            <h3>精英班</h3>
                            <h2>大品牌、值信赖、精准制胜名校</h2>
                            针对各地中高考班精英学生开展的最高教学标准课程，以目标学校为导向，入学测试后，签订合同，助孩子走入梦想名校。
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>


        <div class="main">
            <!--星咨询-->
            <div class="nav_bleft">
                <!--Start of the Tabmenu 1 -->
                <div class="inforRmenu">
                    <ul>

                        <script>
                            function easytabs(a,b){
                                $("#tabcontent1,#tabcontent2,#tabcontent3").hide()
                                $("#tabcontent"+b).show()
                                $("#tablink1,#tablink2,#tablink3").removeClass('tabactive')
                                $("#tablink"+b).addClass('tabactive')
                            }
                        </script>

                        <li class="title">星资讯</li>
                        <li><a href="#" onmouseover="easytabs('1', '1');" onfocus="easytabs('1', '1');" onclick="return false;" title="" id="tablink1" class="tab1 tabactive">小学</a></li>
                        <li><a href="#" onmouseover="easytabs('1', '2');" onfocus="easytabs('1', '2');" onclick="return false;" title="" id="tablink2" class="tab2">初中</a></li>
                        <li><a href="#" onmouseover="easytabs('1', '3');" onfocus="easytabs('1', '3');" onclick="return false;" title="" id="tablink3" class="tab3">高中</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <!--End of the Tabmenu 1 -->
                <!--Start Tabcontent 1 -->
                <div id="tabcontent1" style="display: block;">

                    <volist name="news1" id="vo">
                        <div class="study_news" onmouseover="JavaScript:this.style.background='#FAFAFA';" onmouseout="JavaScript:this.style.background='#fff';" style="background: rgb(255, 255, 255);">
                            <ul>
                                <li class="img">
                                    <a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                                        <img src="{$vo['headUrl']}"></a>
                                </li>
                                <li class="contents">
                                    <h3><a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">{$vo['title']}</a></h3>
                                    {$vo['description']}
                                    <a class="smore" href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">[详细]</a>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </volist>

              </div>
                <!--End Tabcontent 1-->
                <!--Start Tabcontent 2-->
                <div id="tabcontent2" style="display: none;">
                    <volist name="news2" id="vo">
                        <div class="study_news" onmouseover="JavaScript:this.style.background='#FAFAFA';" onmouseout="JavaScript:this.style.background='#fff';" style="background: rgb(255, 255, 255);">
                            <ul>
                                <li class="img">
                                    <a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                                        <img src="{$vo['headUrl']}"></a>
                                </li>
                                <li class="contents">
                                    <h3><a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">{$vo['title']}</a></h3>
                                    {$vo['description']}
                                    <a class="smore" href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">[详细]</a>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </volist>

                </div>
                <!--End Tabcontent 2 -->
                <!--Start Tabcontent 3-->
                <div id="tabcontent3" style="display: none;">
                    <volist name="news3" id="vo">
                        <div class="study_news" onmouseover="JavaScript:this.style.background='#FAFAFA';" onmouseout="JavaScript:this.style.background='#fff';" style="background: rgb(255, 255, 255);">
                            <ul>
                                <li class="img">
                                    <a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">
                                        <img src="{$vo['headUrl']}"></a>
                                </li>
                                <li class="contents">
                                    <h3><a href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">{$vo['title']}</a></h3>
                                    {$vo['description']}
                                    <a class="smore" href="{:U('Article/detail',array('id'=>$vo['id']))}" target="_blank">[详细]</a>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </volist>
               </div>
                <!--End Tabcontent 3-->
            </div>
            <div class="nav_bright">
                <!--品牌专区-->
                <div class="brand-right">
                    <h3>品牌专区</h3>
                    <ul>
                        <li><a href="http://dg.xinghuo100.com/201601/1787.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/75/76/94/image/20160112/20160112171822_8386.jpg" alt=""></a></li>
                        <li><a href="http://www.chaoyou100.com/" target="_blank"><img src="http://file.xinghuo100.com/upload/25/75/76/94/image/20160112/20160112171828_7606.jpg" alt=""></a></li>
                        <li><a href="http://www.aixuexi.com/html/subjects.html#shuxue" target="_blank"><img src="http://file.xinghuo100.com/upload/25/75/76/94/image/20160112/20160112171835_4639.jpg" alt=""></a></li>
                        <li><a href="http://online.ygwo.cn/" target="_blank"><img src="http://file.xinghuo100.com/upload/25/75/76/94/image/20160112/20160112171841_8859.jpg" alt=""></a></li>
                    </ul>
                </div>
                <!--右侧广告-->
                <div class="right_ad"><a href="http://ikx.xinghuojiaoyu.net/" target="_blank"><img src="http://file.xinghuo100.com/upload/25/75/76/94/image/20160112/20160112171941_7468.jpg" alt=""></a></div>
                <div class="right_ad"><a href="http://www.xinghuo100.com/zhuanti/qiuji2016/fuzhou/qiuji2016.html" target="_blank"><img src="http://file.xinghuo100.com/upload/25/924/936/940/image/20160906/20160906111120_6012.jpg" alt=""></a></div>
            </div>
            <div class="clear"></div>
        </div>




        <!--友情链接-->
        <div class="main">
            <div class="wap_link">
                <strong class="title">友情链接: </strong>
                <a href="http://www.aesucai.wang" target="_blank">AE素材网</a>
                <a href="http://open.163.com/" target="_blank">网易公开课</a>
                <a href="http://edu.ce.cn/" target="_blank">中国经济网教育频道</a>
                <a href="http://www.51edu.com/" target="_blank">精品学习网</a>
                <a href="http://edu.qq.com/" target="_blank">腾讯教育网</a>
                <a href="http://www.hao123.com/xuexi" target="_blank">hao123在线学习</a>
                <a href="http://edu.21cn.com/" target="_blank">21CN教育</a>
                <a href="http://edu.people.com.cn/" target="_blank">人民教育网</a>
                <a href="http://www.moe.edu.cn/" target="_blank">国家教育网</a>
                <a href="http://open.163.com/" target="_blank">搜狐教育</a>
                <a href="http://edu.sina.com.cn/" target="_blank">新浪教育</a>
                <a href="http://www.zaobao.com/lifestyle/education" target="_blank">联合早播</a>
            </div>
        </div>



        <!--底部导航-->
        <div class="main">
            <div class="wap_bmenu">
                <div class="list">
                    <h3><a href="{:U('Curr/index',array('grade'=>0))}" style="color:#666666;" target="_blank">小学辅导</a></h3>
                    <ul>
                        <li><a href="/xiaoxue/xxdt/0-1.html" target="_blank">小学动态</a></li>
                        <li><a href="/xiaoxue/xsc/0-1.html" target="_blank">小升初资讯</a></li>
                    </ul>
                </div>
                <div class="list">
                    <h3><a href="{:U('Curr/index',array('grade'=>1))}" style="color:#666666;" target="_blank">初中辅导</a></h3>
                    <ul>
                        <li><a href="/chuzhong/czdt/0-1.html" target="_blank">初中动态</a></li>
                        <li><a href="/chuzhong/zk/0-1.html" target="_blank">中考资讯</a></li>
                    </ul>
                </div>
                <div class="list">
                    <h3><a href="{:U('Curr/index',array('grade'=>2))}" style="color:#666666;" target="_blank">高中辅导</a></h3>
                    <ul>
                        <li><a href="/gaozhong/gzdt/0-1.html" target="_blank">高中动态</a></li>
                        <li><a href="/gaozhong/gk/0-1.html" target="_blank">高考资讯</a></li>
                    </ul>
                </div>
                <div class="list">
                    <h3><a href="/campus/0-1.html" style="color:#666666;" target="_blank">校区查询</a></h3>
                </div>
                <div class="list">
                    <h3><a href="/teacher/0-0-1.html" style="color:#666666;" target="_blank">老师查询</a></h3>
                    <ul>
                        <li><a href="/teacher/10-0-1.html" target="_blank">小学</a></li>
                        <li><a href="/teacher/20-0-1.html" target="_blank">初中</a></li>
                        <li><a href="/teacher/30-0-1.html" target="_blank">高中</a></li>
                    </ul>
                </div>
                <div class="list">
                    <h3><a href="/school/0-0-0-1.html" style="color:#666666;" target="_blank">名校库</a></h3>
                </div>
                <div class="clear"></div>
            </div>
        </div>


    </div>
</div>



<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>
